.custom-tooltip {
    position: absolute;
    background-color: rgba(87, 82, 82, 0.96);
    color: #fff;
    width: 150px;
    height: auto;
    border-radius: 3px;
    font-size: 13px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px #aeaeae;
}
