.platform-wrap {

    .rule-input,
    .rule-number {
        display: inline-block;
        width: 120px;
    }

    .rule-number {
        padding: 0 10px;
        text-align: center;
        ;
        border-bottom: 1px solid #ccc;
    }

    .item-wrap {
        position: relative;
    }
}
