@import "../indexNbTheme";

.policy-manage {
  &-owner-list-container {

  }
}

.text-red {
  color: red !important;
}

.text-black {
  color: #333333 !important;
}

.policy-account-modal-rules-container {
  background: #fafafa;
  list-style: none;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

  & > li {
    width: 48%;
    font-size: 12px;
    padding: 3px 0;
  }
}

.policy-list-statistics-container {
  & > [class^=fields-item-] {
    margin-right: 30px;
  }
}
