.composite-exponent {
    .head-center {
        text-align: center;
    }
    .score {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .lable {
        border: 1px solid #ccf;
        padding: 4px 10px;
    }
}
