@import "../index.less";

.back-color {
    background: #fafafa;
}

.back-padding {
    .back-color;
    padding: 10px 20px 20px;
}

.data-indicator {
    background: @back-color;

    .content {
        display: flex;
        flex: 1;

        .left-indicator {
            background: #fff;
            padding: 10px 10px 10px;
            flex: 5;
            @margin-left-right-10();
            padding-top: 40px;
        }

        .right-composite {
            @margin-left-right-10();
            background: #fff;
            flex: 3;
            min-width: 320px;
        }
    }

    .fan-release {
        @flex-between();
        flex: 1;

        .fan-release-item {
            @flex-between();
            margin-top: 10px;
        }

        .flex1 {
            flex: 1;
            margin: 2px 6px;
        }

        .bold-font-size-16 {
            @color333-font16();
        }
    }

    .head-box {
        .title {
            @color333-font13();
        }

        .title-light {
            @color999-font13();
        }

        .head-box-flex {
            display: flex;
            @color333-font13();

            .number {
                font-size: 24px;
            }


        }
    }

    .operate-four {
        @flex-between();
        margin: 30px 8px 10px;
        flex: 1;
    }

    .operate-item {
        flex: none;
        width: calc((100% - 100px)/4);
        margin-left: 12px;

        .avg-sum-flex {
            @flex-between();
            margin-top: 10px;
        }

        .back-box {
            margin-top: 4px;
            display: flex;
            justify-content: center;
        }
    }

    .operate-item:nth-of-type(1) {
        margin-left: 0px;
    }

    .three-avg-box {
        .title {
            @color999-font13();
            margin-left: 4px;
        }

        .big-number {
            @color333-font13();
            font-size: 24px;
            margin-left: 4px;
        }

        .down {
            margin-top: auto;
        }
    }

    .composite-exponent {
        .text {
            margin-top: 17px;
            @color999-font13();
        }

        .head-center {
            border-bottom: @border-left-line;
            text-align: center;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;

            .left-index {}
        }

        .score {
            @color333-font16();
            font-size: 24px;
            margin-bottom: 10px;
        }

        .lable {
            font-size: 14px;
            color: #1990FF;
            border: 1px solid #1990FF;
            height: 30px;
            line-height: 30px;
            padding: 0px 15px;
        }
    }

    .unit {
        margin-right: 2px;
        font-size: 12px;
    }
}

.font13-color9 {
    @color999-font13();
}

.text-center {
    text-align: center
}

.font24-color3 {
    font-size: 24px;
    color: #333;
}

.font12-color3 {
    font-size: 12px;
    color: #333;
    margin-left: 2px;
}

.height20-colorE3 {
    height: 24px;
    color: #e3e3e3;
    margin-top: 28px;
}
