@import "../index.less";
@color-red: #ff4d4b;
.fat-lable-flex {
    display: flex;
    .fat-lable {
        height: 20px;
        margin-left: 12px;
        line-height: 20px;
        font-size: 14px;
        padding: 0px 8px;
        border-radius: 2px;
    }
}

.head-info {
    padding-top: 27px;
    margin: 10px;
    margin-top: 0px;
    background: #fff;
    display: flex;
    padding-bottom: 10px;
    .head-avatar {
        .avatar-img {
            margin: 10px auto;
            text-align: center;
        }
        .avatar-mark {
            height: 20px;
            padding: 0px 8px;
            line-height: 20px;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            background: linear-gradient(360deg, rgba(112, 112, 112, 1) 0%, rgba(25, 11, 25, 1) 100%);
            border-radius: 10px;
            font-size: 12px;
        }
    }
    .info-right-box {
        width: 100%;
        margin-left: 20px;
        .head-box {
            .account-info {
                display: flex;
                align-items: flex-end;
            }
            .account-name {
                @base-font-16();
                @nowrap-hidden-ellipsis();
            }
            .account-code {
                @color999-font12();
            }
        }
        .info-bottom-three {
            display: flex;
            flex: 1;
            .base-info {
                flex-grow: 2;
                .base-info-flex {
                    height: 20px;
                    margin-top: 19px;
                    display: flex;
                    .title {
                        line-height: 20px;
                        width: 80px;
                        @color999-font13();
                        text-align: right;
                    }
                }
                .content-font {
                    font-size: 14px;
                    color: #333;
                }
            }
            .type-info {
                flex-grow: 1;
                border-left: @border-left-line;
                border-right: @border-left-line;
                display: flex;
                min-width: 260px;
                margin-left: auto;
                justify-content: space-around;
                .type-info-flex {
                    height: 70px;
                }
                .title {
                    @color999-font13();
                }
                .second-row-flex {
                    display: flex;
                    align-items: flex-end;
                    margin: 4px 0px 20px;
                }
                .content {
                    @color333-font16();
                }
                .last {
                    @color999-font12();
                    margin-left: 4px;
                }
            }
            .release-info {
                flex-grow: 1;
                min-width: 230px;
                padding: 0px 20px;
                flex-wrap: wrap;
                .release-info-box {
                    display: flex;
                    justify-content: space-between;
                }
                .collect {
                    @color999-font12();
                }
                .release-info-three {
                    border-bottom: @border-left-line;
                    padding: 10px;
                    .title {
                        @color999-font13();
                    }
                    .two-line-flex {
                        @flex-between();
                        align-items: baseline;
                    }
                    .content {
                        color: #F4655B;
                        font-size: 22px;
                    }
                    .last {
                        @color999-font12();
                    }
                }
            }
        }
    }
}
