@import '../index.less';

.historical-advertising {
    background: @back-color;
    margin-top: 10px;

    .head-box {
        @margin-left-right-10();
        background: #fff;
        padding: 12px 0px 0px;
        display: flex;

        .tab-box {
            margin-left: 20px;
        }
    }

    .historical-ad-case {
        @margin-left-right-10();
        background: #fff;
        padding: 0px 0px 27px 18px;
        display: flex;
        flex-wrap: wrap;

        .case-item {
            padding: 12px 15px;
            width: calc(50% - 20px);
            display: flex;
            margin: 14px 10px 0px;
            @img-box-radius();
        }

        .case-item:hover {
            @hover-shadow();
        }

        .left-img {
            width: 50%;
            background: @back-color;
            text-align: center;
            border: 1px solid #efefef;

            img {
                max-width: 100%;
                margin: 0px auto;
                height: 135px;
            }
        }

        .right-info {
            width: 50%;
            padding: 5px 34px 1px 15px;
            @flex-between-column();

            .title {
                @color333-font16();
                @nowrap-hidden-ellipsis();
            }

            .info-type-flex {
                display: flex;

                .type {
                    @color999-font13();
                }

                .value {
                    @color333-font16();
                }
            }
        }
    }

    .more-loading {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 14px
    }
}
