@import '../index.less';
@import '../../indexNbTheme.less';

.new-video {
    .video-list-box {
        display: flex;
        width: 100%;
        align-items: center;

        .arrow {
            width: 100px;
            height: 40px;
            cursor: pointer;
            font-size: 24px;
            color: rgba(0, 0, 0, 0.1);

            &:hover {
                color: rgba(0, 0, 0, 0.3);
            }
        }

        .left-direction {
            text-align: right;
        }
    }

    .video-list {
        background: #fff;
        @flex-between();
        @margin-left-right-10();
        justify-content: space-around;
        min-width: calc(100% - 100px);

        .video-item {
            margin: 10px 15px;
            flex: 1;
            min-width: 120px;
            max-width: calc(100% / 5);

            .img {
                text-align: center;
                margin: 0px auto;
                position: relative;
                width: 120px;

                img {
                    height: 160px;
                    width: 120px;
                }
            }

            .text-center-time {
                text-align: center;
                font-size: 12px;
                color: #999;
            }

            .date-time {
                position: absolute;
                bottom: 0px;
                right: 0px;
                padding: 1px 4px;
                background: rgba(0, 0, 0, 0.65);
                font-size: 12px;
                color: #fff;
            }

            .title {
                padding-top: 10px;
                @nowrap-hidden-ellipsis();
                @color333-font16();
                font-size: 14px;
                text-align: center;
            }

            .title:hover {
                color: @primary-color;
            }

            .last-box {
                justify-content: center;
                display: flex;
                align-items: center;
            }

            .number {}


        }

        .video-item:hover {
            @hover-shadow();
        }
    }
}
