.account-view-detail {
    position: relative;
    background: #f1f2f6;
    .data-composite {
        margin-top: 10px;
        display: flex;
        flex: 1;
        .data-composite-left {
            background: #fff;
            flex: 2
        }
        .data-composite-right {
            background: #fff;
            margin-left: 10px;
            flex: 1
        }
    }
}
