.account-view-detail {
    position: relative;
    background: #F9FAFB;
    padding: 0px 10px;
    min-width: 1100px;

    .detail-tabs {
        margin-top: 37px;

        .ant-tabs-nav-scroll {
            text-align: center;
        }
    }

    .head-info-index {
        background: #F9FAFB;
        z-index: 200;
        position: relative;
        padding-top: 20px;
    }

    .data-charts {
        position: relative;

        .updata-time {
            position: absolute;
            right: 24px;
            top: 20px;
            color: #666;
            font-size: 12px;
        }
    }
}
