@import "../../../indexNbTheme.less";


.no-select-text {
  user-select: none;
}

.improve-statistics-wrapper {
  min-width: 200px;
  padding: 0 12px 10px 10px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;

  .header-title {
    font-size: 12px;
    font-weight: normal;
    color: #999;
  }

  .tips-text {
    font-size: 12px;
    padding: 6px 0;
    color: #666;
  }
}

.module-item-wrap {
}

.modal-fetch-wrapper {
  padding-bottom: 10px;

  .module-item-container {
    overflow: initial;
    margin-bottom: auto;
  }
}

.module-item-container {
  background: #fff;
  //border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  //border-top: 1px solid #f8f8f8;
  position: relative;

  .gray-text {
    font-size: 12px;
    color: #999;
    font-weight: normal;
  }

  .subclass-item-wrap {
    margin-bottom: 40px;

  }

  .content-wrap .subclass-item-wrap:first-child .subclass-head .line {
    opacity: 0;
  }

  .content-wrap .subclass-item-wrap:last-child {
    margin-bottom: 0;
  }

  .field-wrap-item.base-media-type {

  }

  .subclass-head {
    .header-wrap .content();
    padding-left: 11px;

    .text {
      font-weight: normal;
    }

    .line {
      .header-wrap .content .line();
      opacity: 1;
      //border-top-style: solid;
    }

    .gray-text {
      padding-left: 10px;
      font-size: 12px;
      color: #999;
      font-weight: normal;
    }
  }

  .header-wrap {
    padding-left: 25px;
    line-height: 32px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 6px;

    .right {
      font-size: 13px;
      display: inline-block;

      .gray-text {
        font-size: 12px;
        color: #999;
        margin-right: 20px;
      }
    }

    .left {
      font-size: 13px;
      display: inline-block;

      img {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 10px;
      }
    }

    .content {
      display: table;
      white-space: nowrap;
      font-size: 15px;
      height: 1px;
      width: 100%;
      clear: both;
      vertical-align: middle;
      position: relative;
      top: -0.06em;

      .text {
        display: inline-block;
        padding: 0 10px 0 0;
      }

      .left {
        display: inline-block;
        padding: 0 10px;
      }

      .right {
        display: inline-block;
        padding: 0 10px;
      }

      .line {
        opacity: 0;
        display: table-cell;
        position: relative;
        top: 50%;
        width: 100%;
        border-top: 1px dashed #e8e8e8;
        transform: translateY(50%);
      }
    }

    &:before {
      content: " ";
      position: absolute;
      display: inline-block;
      width: 5px;
      height: 16px;
      top: 7px;
      left: 0;
      background: @primary-color;
    }
  }

  .content-wrap {
    padding: 14px 14px 0;
  }

  .view-fields-container {
    padding: 11px;

    .right-wrap {
      padding-left: 140px;
    }
  }

  .main-base-info {
    .left-wrap {
      float: left;

      & > div {
        width: 100px;
        height: 100px;
        border-radius: 4px;
        overflow: hidden;
        margin-top: 8px;
        background: #f1f1f1;

        img {
          display: block;
          width: 100%
        }
      }
    }
  }

  .mini-fields-header, .mini-fields-footer {
    & > div {
      float: right;

      & > span {
        color: #999;
        cursor: pointer;
        padding: 6px 0 6px 20px;

        .anticon {
          margin-right: 6px;
        }
      }
    }
  }

  .mini-fields-footer {
    .anticon {
      margin-left: 6px;
    }
  }

  .mini-fields-content {
    .left-wrap {
      .main-base-info .left-wrap();

      & > div {
        margin: 0;
      }
    }

    .right-wrap {
      .mini-infos {
        margin-bottom: 10px;

        .gray-text {
          color: #999;
        }
      }

      margin-left: 120px;

      .mini-sns-name {
        font-size: 20px;
        vertical-align: middle;
        color: #333;
        margin-right: 20px;
      }
    }
  }

}

.popup-search-tree-select {
  /*border-radius: 4px;
  //border: 1px solid #d9d9d9;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
  background: #fff;*/
  margin: -12px -16px;
  width: 280px;

  header {
    padding: 14px 18px;
    border-bottom: 1px solid #ddd;
  }

  main {
    .shortcut-list {
      margin: 0;
      padding: 8px 4px;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #ddd;

      li {
        list-style: none;
        padding: 8px 14px;
        cursor: pointer;

        &:hover, &.active {
          color: @primary-color;
        }
      }
    }

    .tree-content {
      max-height: 200px;
      overflow: auto;
      padding: 8px 14px;
    }
  }
}

.gray-block-container {
  background: #f7f7f7;
  border-radius: 4px;
  padding: 10px 18px;

  .gray-block-item {
    padding: 10px 20px;

    &:last-of-type {
      border-bottom: none;
    }

    p {
      padding: 10px 0;
      margin: 0;
    }

    .url {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 400px;
    }

    border-bottom: 1px dashed #dddddd;
  }

}

.price-table {
  width: 500px;
  background: #f8f8f8;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 6px;
  line-height: 40px;

  .price-table-title {
    text-align: center;
    margin-bottom: 0;
  }

  .price-table-head {
    background: #eee;
    font-weight: 500;
  }

  .price-table-body {
    padding: 10px 0;
  }

  .price-table-input {
    margin: 0 10px;
  }
}

.m10-e {
  margin: 0 10px;
}

.shipping-card-item {
  padding: 4px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  line-height: 1.8;
  position: relative;

  .actions {
    position: absolute;
    right: 0;
    top: 4px;

    a {
      margin: 0 8px;
    }
  }

  & > p {
    margin: 0;
  }
}

.content-statistic-wrapper {
  .ant-col:nth-child(3n+3) .statistic-field {
    border: none;
  }

  .statistic-field {
    display: flex;
    padding: 0 20px;
    border-right: 1px solid #dfdfdf;
    justify-content: space-between;
    line-height: 40px;
  }
}

.percentage-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  header {
    color: #999;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    .column-item {
      width: 26px;
      margin: 0 3px;
      border-radius: 13px;
    }
  }

  footer {
    .value {
      padding: 10px 0 4px;
      font-weight: 500;
      //margin-left: 10px;
      text-align: center;
    }

    .legend {
      color: #999;
      & span:last-child {
        margin: 0;
      }
      span{
        margin-right: 10px;
        vertical-align: baseline;
        b{
          content: '';
          display: inline-block;
          vertical-align: baseline;
          margin: 0 6px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
