.statistics {
    display: flex;
    justify-content: space-around;
}

.common-item {
    b {
        font-size: 16px;
    }

    .data-time {
        color: #ccc;
        padding-left: 20px;
    }

    .content {
        display: flex;
    }

    .more-common {}

    .comment-rate {
        font-size: 14px;
        color: #802F7B;
    }

    .rate-type-box {
        display: flex;
        margin-left: auto;
        background: -webkit-gradient(linear, left top, left bottom, from(#FF0052), to(#802F7B));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
