@import '../../index.less';

.put-preview {

    .active-order {
        display: flex;
    }

    .data-active {
        flex: 3;
        min-width: 400px;
    }

    .order-statistics {
        flex: 4;

        .header {
            p {
                color: rgb(51, 51, 51);
                font-size: 14px;
            }

            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }

    .gray-font {
        color: #ccc;
        font-weight: 400;
    }

    .put-pre-table {
        .ant-table-thead>tr>th {
            background: #fff;
            .gray-font;
        }

        .ant-table-tbody>tr>td:nth-child(odd) {
            height: 50px;
            .gray-font;
        }
    }
}
