@border-left-line: 1px solid #F5F5F5;
@back-color: #F9FAFB;
@line-width: 10px;
.font-color(@color: #999, @font-size: 12px) {
    color: @color;
    font-size: @font-size;
}

@nowrap-hidden-ellipsis: {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@margin-left-right-10: {
    margin: 0px @line-width;
}

@base-font-16: {
    width: 201px;
    height: 22px;
    @color333-font16();
    font-weight: 600;
    line-height: 22px;
}

@color999-font13: {
    .font-color(#999, 13px);
}

@color999-font12: {
    .font-color(#999, 12px);
}

@color333-font16: {
    .font-color(#333, 16px);
}

@color333-font13: {
    .font-color(#333, 13px);
}

@flex-between: {
    display: flex;
    justify-content: space-between;
}

@flex-between-column: {
    @flex-between();
    flex-direction: column;
}

@color333-font20: {
    .font-color(#333, 20px);
    margin: 40px 0px 8px 20px;
}

@hover-shadow: {
    box-shadow: 0px 2px 4px 0px rgba(166, 166, 166, 0.5);
    @img-box-radius();
}

@img-box-radius: {
    border-radius: 2px;
}
